---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "关于Catk1ns";

const identity = {
    firstName: "Willow_Catkin",
    country: "加拿大",
    occupation: "学生",
    hobbies: ["摄影", "观鸟", "棒球"],
    ages: 18,
    birth: "7-12",
};

const skills = [
    "核心框架：Astro v7.0.3",
    "样式：原生 CSS",
    "语言：TypeScript",
    "包管理：npm",
    "代码托管：GitHub",
    "线上部署：Netlify",
];
---

<BaseLayout pageTitle={pageTitle}>
    <h2>这是一个个人内容站</h2>

    <p>
        我是 {identity.firstName}，目前是一名{identity.occupation}。这个博客用来记录技术学习、生活观察和个人内容。
    </p>
    <p>以下是关于 Catkin's Blog 的几个事实：</p>
    <ol>
        <li>暂时由 Netlify 线上部署</li>
        <li>代码托管于 GitHub</li>
        <li>目前接入了简单的响应式布局和暗色模式</li>
    </ol>
    <h2>技术栈</h2>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>

<style>
    .skill {
        color: green;
        font-weight: bold;
    }
</style>
