<hr />
<footer>
    <p>© 2026 By Catkin</p>
    <p>Powered by Astro</p>
</footer>

<style>
    footer {
        margin-top: 2rem;
        color: var(--muted-color);
        font-size: 0.85rem;
        line-height: 1.4;
        text-align: center;
    }

    footer p {
        margin: 0.2rem 0;
    }
</style>
