---
import Navigation from "../components/Navigation.astro";
import Menu from "../components/Menu.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<header>
    <nav>
        <div class="header-actions">
            <ThemeIcon />
            <Menu />
        </div>

        <Navigation />
    </nav>
</header>

<style>
    .header-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
